.expense-form {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type-input {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 150px;
}

.amount-input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 150px;
}

.expense-button {
  background-color: transparent;
  border: solid #673AB7 3px;
  border-radius: 15px;
}
