.expense-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type-input {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 150px;
}

.amount-input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}
